In [ ]:
! pip install d3blocks

Collecting d3blocks
  Downloading d3blocks-1.3.3-py3-none-any.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 11.7 MB/s eta 0:00:00
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from d3blocks) (1.23.5)
Collecting colourmap>=1.1.10 (from d3blocks)
  Downloading colourmap-1.1.16-py3-none-any.whl (10 kB)
Collecting datazets>=0.1.7 (from d3blocks)
  Downloading datazets-0.1.8-py3-none-any.whl (10 kB)
Collecting d3graph>=2.4.6 (from d3blocks)
  Downloading d3graph-2.4.9-py3-none-any.whl (103 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.9/103.9 kB 12.4 MB/s eta 0:00:00
Collecting elasticgraph>=0.1.2 (from d3blocks)
  Downloading elasticgraph-0.2.0-py3-none-any.whl (82 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 82.8/82.8 kB 9.6 MB/s eta 0:00:00
Collecting ismember>=1.0.1 (from d3blocks)
  Downloading ismember-1.0.2-py3-none-any.whl (7.5 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from d3blocks) (1.5.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from d3blocks) (4.66.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from d3blocks) (2.31.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from d3blocks) (1.2.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from d3blocks) (3.1.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from colourmap>=1.1.10->d3blocks) (3.7.1)
Requirement already satisfied: networkx>2 in /usr/local/lib/python3.10/dist-packages (from d3graph>=2.4.6->d3blocks) (3.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from d3graph>=2.4.6->d3blocks) (23.1)
Collecting markupsafe==2.0.1 (from d3graph>=2.4.6->d3blocks)
  Downloading MarkupSafe-2.0.1-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (30 kB)
Requirement already satisfied: python-louvain in /usr/local/lib/python3.10/dist-packages (from d3graph>=2.4.6->d3blocks) (0.16)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->d3blocks) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->d3blocks) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->d3blocks) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->d3blocks) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->d3blocks) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->d3blocks) (2023.7.22)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->d3blocks) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->d3blocks) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->d3blocks) (3.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->d3blocks) (1.16.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->colourmap>=1.1.10->d3blocks) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->colourmap>=1.1.10->d3blocks) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->colourmap>=1.1.10->d3blocks) (4.42.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->colourmap>=1.1.10->d3blocks) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->colourmap>=1.1.10->d3blocks) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->colourmap>=1.1.10->d3blocks) (3.1.1)
Installing collected packages: markupsafe, ismember, datazets, colourmap, d3graph, elasticgraph, d3blocks
  Attempting uninstall: markupsafe
    Found existing installation: MarkupSafe 2.1.3
    Uninstalling MarkupSafe-2.1.3:
      Successfully uninstalled MarkupSafe-2.1.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
werkzeug 2.3.7 requires MarkupSafe>=2.1.1, but you have markupsafe 2.0.1 which is incompatible.
Successfully installed colourmap-1.1.16 d3blocks-1.3.3 d3graph-2.4.9 datazets-0.1.8 elasticgraph-0.2.0 ismember-1.0.2 markupsafe-2.0.1

In [ ]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
#pd.set_option('display.max_rowidth', None)
pd.set_option('display.max_rows', None)

In [ ]:
# Load d3blocks
from d3blocks import D3Blocks
#
# Initialize
d3 = D3Blocks()
#
# Load example data
df = d3.import_example('random_time', n=10000, c=300, date_start="1-1-2000 00:10:05", date_stop="1-1-2000 23:59:59")
#
# Plot
d3.movingbubbles(df, speed={"slow": 1000, "medium": 200, "fast": 10}, filepath='movingbubbles.html')

[d3blocks] >INFO> Cleaning edge_properties and config parameters..
[d3blocks] >INFO> Cleaning edge_properties and config parameters..
[d3blocks] >INFO> Initializing [Movingbubbles]
[d3blocks] >INFO> filepath is set to [/tmp/d3blocks/movingbubbles.html]
[d3blocks] >INFO> Convert to Frame.
[d3blocks] >INFO> Node properties are set.
[d3blocks] >INFO> Standardizing input dataframe using method: [samplewise].
[d3blocks] >INFO> Standardize method: [samplewise]
100%|██████████| 301/301 [00:02<00:00, 141.35it/s]
[d3blocks] >INFO> Set all nodes to size: 5
[d3blocks] >WARNING> Colormap [Set1] can not create [301] unique colors! Available unique colors: [9].
[d3blocks] >INFO> Edge properties are set.
[d3blocks] >INFO> File already exists and will be overwritten: [/tmp/d3blocks/movingbubbles.html]
[d3blocks] >INFO> Open browser: /tmp/d3blocks/movingbubbles.html

In [ ]:
df

                datetime sample_id     state
0    2000-01-01 00:10:06       193      Work
1    2000-01-01 00:10:33       149      Sick
2    2000-01-01 00:10:52        16      Sick
3    2000-01-01 00:11:08       184    Eating
4    2000-01-01 00:11:22       249      Sick
...                  ...       ...       ...
9994 2000-01-01 23:59:57        48  Sleeping
9995 2000-01-01 23:59:58       136      Home
9996 2000-01-01 23:59:58        89  Sleeping
9997 2000-01-01 23:59:58       212  Sleeping
9998 2000-01-01 23:59:58       212    Travel

[9999 rows x 3 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   9999 non-null   datetime64[ns]
 1   sample_id  9999 non-null   object
 2   state      9999 non-null   object
dtypes: datetime64[ns](1), object(2)
memory usage: 234.5+ KB

In [ ]:
df.head(100)

              datetime sample_id     state
0  2000-01-01 00:10:06       193      Work
1  2000-01-01 00:10:33       149      Sick
2  2000-01-01 00:10:52        16      Sick
3  2000-01-01 00:11:08       184    Eating
4  2000-01-01 00:11:22       249      Sick
5  2000-01-01 00:12:25       176  Sleeping
6  2000-01-01 00:12:46        86      Sick
7  2000-01-01 00:13:00       114      Sick
8  2000-01-01 00:13:17        17    Eating
9  2000-01-01 00:13:25       297      Work
10 2000-01-01 00:13:34        71      Sick
11 2000-01-01 00:14:00        99      Sick
12 2000-01-01 00:14:34       187  Sleeping
13 2000-01-01 00:14:44       114  Sleeping
14 2000-01-01 00:15:07        71  Sleeping
15 2000-01-01 00:15:41        67      Work
16 2000-01-01 00:16:19       294      Sick
17 2000-01-01 00:16:25       108      Work
18 2000-01-01 00:16:45        52    Eating
19 2000-01-01 00:17:39       185      Sick
20 2000-01-01 00:17:56        62  Sleeping
21 2000-01-01 00:18:19        36      Sick
22 2000-01-01 00:18:37       174    Eating
23 2000-01-01 00:18:39       292      Work
24 2000-01-01 00:19:41       279      Home
25 2000-01-01 00:19:48       289      Sick
26 2000-01-01 00:20:17       166     Sport
27 2000-01-01 00:20:30       134     Sport
28 2000-01-01 00:22:19        83      Work
29 2000-01-01 00:22:41        28      Sick
30 2000-01-01 00:22:52       242      Sick
31 2000-01-01 00:23:09         4      Sick
32 2000-01-01 00:23:17       131      Sick
33 2000-01-01 00:23:26       107     Sport
34 2000-01-01 00:24:36        71  Sleeping
35 2000-01-01 00:25:52       164      Sick
36 2000-01-01 00:27:14         4     Sport
37 2000-01-01 00:27:32        88      Work
38 2000-01-01 00:27:48       250  Sleeping
39 2000-01-01 00:28:20        46      Sick
40 2000-01-01 00:28:22        82      Sick
41 2000-01-01 00:29:07        58  Sleeping
42 2000-01-01 00:29:26       262      Sick
43 2000-01-01 00:29:49       218  Sleeping
44 2000-01-01 00:30:49       225      Work
45 2000-01-01 00:31:08         4      Sick
46 2000-01-01 00:31:15       268  Sleeping
47 2000-01-01 00:31:22       256  Hospital
48 2000-01-01 00:31:40       123      Work
49 2000-01-01 00:31:41       130    Travel
50 2000-01-01 00:32:00        40  Sleeping
51 2000-01-01 00:32:30       120  Sleeping
52 2000-01-01 00:33:05        17    Travel
53 2000-01-01 00:33:07       129      Work
54 2000-01-01 00:33:08       252      Work
55 2000-01-01 00:33:52       244      Sick
56 2000-01-01 00:34:05       198      Sick
57 2000-01-01 00:34:50        14     Sport
58 2000-01-01 00:34:51       238      Sick
59 2000-01-01 00:34:58       278      Sick
60 2000-01-01 00:35:09       168  Sleeping
61 2000-01-01 00:35:23       146    Eating
62 2000-01-01 00:35:29        22      Sick
63 2000-01-01 00:35:55       167      Sick
64 2000-01-01 00:36:25       183      Sick
65 2000-01-01 00:36:59       165    Eating
66 2000-01-01 00:37:01       146      Home
67 2000-01-01 00:37:55       206      Sick
68 2000-01-01 00:38:09         2     Sport
69 2000-01-01 00:38:15       272      Sick
70 2000-01-01 00:38:37        68     Sport
71 2000-01-01 00:39:01       195      Work
72 2000-01-01 00:39:04        85    Travel
73 2000-01-01 00:39:21       283      Sick
74 2000-01-01 00:39:24       169       Bed
75 2000-01-01 00:39:31       184  Sleeping
76 2000-01-01 00:39:47        70  Sleeping
77 2000-01-01 00:40:11        80      Work
78 2000-01-01 00:40:34       118     Sport
79 2000-01-01 00:41:19       110  Sleeping
80 2000-01-01 00:42:13       150  Sleeping
81 2000-01-01 00:42:30       264      Sick
82 2000-01-01 00:43:55        49     Sport
83 2000-01-01 00:44:09        69     Sport
84 2000-01-01 00:46:31       230  Sleeping
85 2000-01-01 00:47:19       196      Sick
86 2000-01-01 00:47:31       127     Bored
87 2000-01-01 00:48:39       254  Sleeping
88 2000-01-01 00:48:49       285     Bored
89 2000-01-01 00:49:43       264      Sick
90 2000-01-01 00:50:48       262      Sick
91 2000-01-01 00:50:58        44      Sick
92 2000-01-01 00:51:16        72    Eating
93 2000-01-01 00:51:18       189      Sick
94 2000-01-01 00:51:51        50      Home
95 2000-01-01 00:52:06       151      Work
96 2000-01-01 00:52:17       102    Travel
97 2000-01-01 00:52:22       239    Eating
98 2000-01-01 00:52:24        34  Sleeping
99 2000-01-01 00:52:34        84  Sleeping

In [ ]:
df['sample_id'].nunique()

301

In [ ]:
df[df['sample_id'] == 1]

                datetime sample_id     state
336  2000-01-01 02:24:58         1      Home
516  2000-01-01 03:28:43         1      Sick
1205 2000-01-01 07:19:37         1       Bed
1577 2000-01-01 09:08:04         1    Travel
1836 2000-01-01 10:16:21         1      Home
2247 2000-01-01 11:46:26         1    Travel
2317 2000-01-01 12:02:28         1  Sleeping
2539 2000-01-01 12:54:43         1     Sport
2654 2000-01-01 13:15:42         1    Travel
3163 2000-01-01 14:51:20         1    Eating
3330 2000-01-01 15:20:51         1      Sick
3548 2000-01-01 15:56:41         1  Sleeping
4324 2000-01-01 17:53:47         1    Travel
4692 2000-01-01 18:41:17         1    Travel
4889 2000-01-01 19:02:50         1    Travel
4904 2000-01-01 19:05:08         1  Hospital
5039 2000-01-01 19:20:12         1    Travel
5069 2000-01-01 19:23:00         1  Hospital
5651 2000-01-01 20:19:01         1      Work
5776 2000-01-01 20:30:59         1    Travel
5838 2000-01-01 20:36:24         1    Travel
6315 2000-01-01 21:17:53         1  Sleeping
6518 2000-01-01 21:32:38         1    Travel
6533 2000-01-01 21:33:34         1    Travel
6537 2000-01-01 21:33:48         1  Sleeping
6856 2000-01-01 21:57:46         1  Sleeping
7094 2000-01-01 22:11:20         1    Travel
7799 2000-01-01 22:49:56         1  Sleeping
8033 2000-01-01 23:00:41         1  Hospital
8210 2000-01-01 23:09:26         1      Sick
8267 2000-01-01 23:12:18         1      Work
8440 2000-01-01 23:19:32         1  Hospital
8548 2000-01-01 23:23:40         1  Sleeping
8598 2000-01-01 23:25:25         1    Travel
9139 2000-01-01 23:42:54         1  Sleeping
9941 2000-01-01 23:59:23         1      Work

In [ ]:
df = d3.import_example('random_time', n=10000, c=300, date_start="1-1-2000 00:10:05", date_stop="1-1-2000 23:59:59")

In [ ]:
df.head()

             datetime sample_id     state
0 2000-01-01 00:10:28       297    Travel
1 2000-01-01 00:10:40       199  Sleeping
2 2000-01-01 00:11:02       163      Sick
3 2000-01-01 00:11:04       160     Sport
4 2000-01-01 00:11:16       135      Sick

In [ ]:
df1 = d3.import_example('random_time', n=10000, c=300, date_start="1-1-2000 00:10:05", date_stop="1-1-2000 23:59:59")

In [ ]:
df1[df1['sample_id'] == 26]

                datetime sample_id     state
0    2000-01-01 00:10:48        26     Sport
178  2000-01-01 01:25:13        26    Travel
475  2000-01-01 03:16:50        26     Sport
568  2000-01-01 03:47:28        26     Bored
957  2000-01-01 06:11:22        26      Work
998  2000-01-01 06:23:39        26    Travel
1493 2000-01-01 08:53:56        26    Travel
2006 2000-01-01 11:09:08        26     Sport
3181 2000-01-01 15:11:02        26      Sick
3337 2000-01-01 15:42:30        26  Sleeping
3434 2000-01-01 16:00:11        26  Sleeping
4109 2000-01-01 17:44:52        26       Bed
4479 2000-01-01 18:28:55        26    Travel
4686 2000-01-01 18:52:21        26      Home
4754 2000-01-01 19:00:07        26      Sick
6049 2000-01-01 21:03:34        26    Travel
6293 2000-01-01 21:20:46        26  Sleeping
6685 2000-01-01 21:48:54        26    Travel
6767 2000-01-01 21:54:35        26    Travel
7079 2000-01-01 22:13:34        26    Travel
7290 2000-01-01 22:25:31        26    Travel
7347 2000-01-01 22:28:54        26  Sleeping
7697 2000-01-01 22:48:05        26      Home
7772 2000-01-01 22:51:38        26  Sleeping
7804 2000-01-01 22:53:11        26    Travel
7992 2000-01-01 23:01:39        26  Sleeping
8158 2000-01-01 23:08:53        26  Sleeping
9133 2000-01-01 23:42:41        26    Travel
9184 2000-01-01 23:44:06        26      Home
9238 2000-01-01 23:45:44        26     Sport