In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/content/titanic.csv')

In [ ]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
Features = data[['Sex','Age','Fare']]

In [ ]:

from statsmodels.stats.outliers_influence import variance_inflation_factor

In [ ]:
Features.head()

      Sex   Age     Fare
0    male  22.0   7.2500
1  female  38.0  71.2833
2  female  26.0   7.9250
3  female  35.0  53.1000
4    male  35.0   8.0500

In [ ]:
Features_dummied = pd.get_dummies(Features)

In [ ]:
Features_dummied.isna().sum()

Age           177
Fare            0
Sex_female      0
Sex_male        0
dtype: int64

In [ ]:
Features_dummied.dropna(inplace=True)

In [ ]:
vif_data = pd.DataFrame()
vif_data["feature"] = Features_dummied.columns

# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(Features_dummied.values, i)
                          for i in range(len(Features_dummied.columns))]

print(vif_data)

      feature       VIF
0         Age  1.022487
1        Fare  1.049512
2  Sex_female  2.541082
3    Sex_male  3.917424

In [ ]:
Features_dummied.drop(['Sex_male'],inplace=True,axis=1)

In [ ]:
vif_data = pd.DataFrame()
vif_data["feature"] = Features_dummied.columns

# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(Features_dummied.values, i)
                          for i in range(len(Features_dummied.columns))]

print(vif_data)

      feature       VIF
0         Age  1.589969
1        Fare  1.482145
2  Sex_female  1.445634

In [ ]:
Features = data[['Fare','Age','Embarked']]

In [ ]:
Features_dummied = pd.get_dummies(Features)

In [ ]:
Features_dummied.isna().sum()

Fare            0
Age           177
Embarked_C      0
Embarked_Q      0
Embarked_S      0
dtype: int64

In [ ]:
Features_dummied.dropna(inplace=True)

In [ ]:
vif_data = pd.DataFrame()
vif_data["feature"] = Features_dummied.columns

# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(Features_dummied.values, i)
                          for i in range(len(Features_dummied.columns))]

print(vif_data)

      feature       VIF
0        Fare  1.582754
1         Age  5.103963
2  Embarked_C  2.041021
3  Embarked_Q  1.144313
4  Embarked_S  4.205990

In [ ]:
Features_dummied.drop(['Embarked_S'],inplace=True,axis=1)

In [ ]:
vif_data = pd.DataFrame()
vif_data["feature"] = Features_dummied.columns

# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(Features_dummied.values, i)
                          for i in range(len(Features_dummied.columns))]

print(vif_data)

      feature       VIF
0        Fare  1.547287
1         Age  1.492029
2  Embarked_C  1.330847
3  Embarked_Q  1.035036