In [1]:
! pip install Faker

Collecting Faker
  Downloading Faker-19.3.1-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 6.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Installing collected packages: Faker
Successfully installed Faker-19.3.1

In [2]:
from faker import Faker
import random
fake = Faker()

fake.name()

'Lori King'

In [3]:
for _ in range(10):
  print(fake.name())

Adriana Ortiz
Kevin Schmidt
Donna Simpson
Diana Wilkins
Melissa Maxwell
Tiffany Lawson
Toni Evans
Eric Barber
Richard Nelson
Jeremy Newton

In [4]:
for _ in range(10):
  print(fake.address())

788 Jennings Mews Suite 920
Lake Paulland, VT 90815
54950 James Walks Suite 257
Taylorshire, GU 36681
7619 Parker Greens
Christineborough, MT 18800
04807 Barajas Spurs
Lynchbury, CT 07400
9534 Park Village
Brownstad, VT 17864
24462 Nicole Drive
Alyssaview, LA 83416
1653 Cory Plains
Port Joanton, MS 21446
654 Wiley Valleys
Lake Michael, ID 56190
9891 Cross Green Suite 631
West Gloriatown, KS 62155
3360 Katie Walks Suite 289
Boydland, PW 37565

In [5]:
for _ in range(10):
  print(fake.text())

Data expert hundred full deal teach letter. Probably apply score democratic officer pick.
Mr six arm dinner matter. Push interesting song two someone center.
Imagine although tree name build. Would scientist suddenly travel movie. Decision standard free staff.
Sure subject anyone woman. Tough common draw leg ability pattern reduce.
Sell rather including. Skill draw property environmental price. Challenge still assume firm cell thank miss.
Story fish employee test coach industry community. More and hour around wide. These assume worker surface.
Want author focus again. Majority read bring school if.
Blood field mission care animal seem bed. Base least age shake.
Personal myself toward dinner control experience remember. Friend lead share camera wind.
Citizen second close stay success protect prepare.
Dog exactly media lose none. Short expect great step trouble even go nor. Edge nation make decide material international me hear.
Organization whole enough hit threat. Environment scientist get person page several financial. Market scientist foot beautiful on world moment.
Tv paper argue hold lot cause. Car option on lay well.
Learn new modern decide top. Point perform theory explain oil western.
Key try economic place open right. Seem lead within traditional rise bit.
Factor tell get ahead really daughter they. Impact southern city sing.
Risk well close.
White example behind responsibility agent send paper. News hot world down join.
Send memory ever responsibility. Time show small return. These moment fund east focus husband term.

In [6]:
from faker import Faker
fake = Faker('it_IT')
for _ in range(5):
    print(fake.name())

Sig. Maurilio Ariasso
Paulina Pisaroni
Teresa Fiorucci
Ramona Tedesco
Pomponio Accardo

In [7]:
import pandas as pd

In [8]:
def employee_dataset():
  final_list = []
  list_of_employee_names = [fake.name() for _ in range(10)]
  list_of_employee_address = [fake.address() for _ in range(10)]
  list_of_employee_phone_no = [fake.phone_number() for _ in range(10)]
  list_of_employee_salary = [random.randint(30000,500000) for i in range(10)]
  return pd.DataFrame({'Employee_name':list_of_employee_names,'Employee_address':list_of_employee_address,'Employee_phone_no':list_of_employee_phone_no,'Employee_salary':list_of_employee_salary})

In [9]:
employee_dataset()

,Employee_name,Employee_address,Employee_phone_no,Employee_salary
0,Lodovico Oliboni-Antonini,"Contrada Camanni, 71 Appartamento 98\n16042, G...",+39 0923717546,148346
1,Sig. Nino Tommaseo,"Via Maria, 3\n38095, Ragoli (TN)",+39 3491168300,453139
2,Maria Oscuro-Verri,"Incrocio Morena, 64\n98068, Tesoriero (ME)",+39 3780682270,238680
3,Rembrandt Simeoni-Dallapé,"Vicolo Rita, 40\n20035, Villa Cortese (MI)",0865652058,209528
4,Serafina Gangemi,"Piazza Dossi, 17 Piano 3\n23874, Montevecchia ...",3615705236,191624
5,Saverio Boiardo-Morandini,"Piazza Callegari, 5\n03013, Ferentino Stazione...",081101193,473559
6,Maria Segrè,"Contrada Rodolfo, 374 Piano 4\n34016, Monrupin...",+39 3780469408,120300
7,Vincenza Ritacca,"Rotonda Nino, 65\n60035, Jesi (AN)",+39 0343682027,32428
8,Priscilla Lancisi-Piane,"Vicolo Iolanda, 8 Appartamento 0\n06134, Perug...",0961328331,36206
9,Marcello Fantoni,"Vicolo Ceci, 0\n89052, Campo Calabro (RC)",07572746748,70741